<todo #editingTodoComponent *ngIf="editingTodo" [todo]="editingTodo" (onSaved)="updateOrInsertTodo($event)"></todo>

<div class="todos-slider" *ngIf="todos.length">
  <div class="arrow-left" (click)="appSlider.scrolLeft()" *ngIf="appSlider.visibleStartIndex"></div>
  <app-slider #appSlider [todos]=todos [maxVisibleCount]=3>
    <item-component *ngFor="let todo of appSlider.visibleTodos" [todo]="todo" (click)="editTodo(todo)"></item-component>
  </app-slider>
  <div class="arrow-right" (click)="appSlider.scrollRight()" *ngIf="((appSlider.todos.length > 3) && ((appSlider.todos.length - appSlider.visibleStartIndex) > appSlider.maxVisibleCount))"></div>
</div>
