<form class="LoginForm" autocomplete="off" novalidate #loginForm="ngForm">   
    <h2 class="LoginForm-title">
        <span class="Text--highlight">Вход в систему</span>
    </h2>
    
    <div class="LoginForm-formControl">
        <div class="validation-error-message" *ngIf='(loginForm.controls["email"]?.invalid && loginForm.submitted)'>{{validationErrorMessages['email']}}</div>
        <input type="email" class="InputControl LoginForm-input" placeholder="Эл.почта" name="email" [(ngModel)]="user.email" required email/>
    </div>
    <div class="LoginForm-formControl">
        <div class="validation-error-message" *ngIf="(loginForm.controls['password']?.invalid && loginForm.submitted)">{{validationErrorMessages['password']}}</div>
        <input type="password" class="InputControl LoginForm-input" placeholder="Пароль" name="password" [(ngModel)]="user.password" nonCyrillic required />
    </div>

    <alert></alert>

    <button class="Btn Btn--submit LoginForm-submitBtn" (click)="login(loginForm)">Войти</button>
</form>