.app-slider {
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.app-slider.vertical {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}