.user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-picture {
    margin: 2px 2px 2px 2px;
}

.user-name {
    margin: 2px 2px 2px 2px;
    text-transform: capitalize;
}

.user-email {
    margin: 2px 2px 2px 2px;
    color: green;
}

.user-phone {
    margin: 2px 2px 2px 2px;
    color: dodgerblue;
}