.todo-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    //height: 130px;
    width: 150px;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.todo-title {
    margin: 0 0 5px 0;
}

.todo-title:invalid {
    margin: 0 0 5px 0;
    border-color: red;
}

.todo-description {
    margin: 0 0 5px 0;
}

.todo-status {
    margin: 0 0 5px 0;
}

.todo-tags {
    margin: 0 0 5px 0;
}

.todo-tag {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.todo-tag-checkbox {
    margin: 0 3px 0 3px;
}

.btn-save {
    margin: 0 0 5px 0;
}